@charset "UTF-8";
body {
  font-family: "Poppins", sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.sticky {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar {
  background-color: #127FC3;
  --bs-navbar-padding-y: 0rem;
}
.navbar img {
  width: 50px;
}
.navbar P {
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar ul {
  text-align: center;
}
.navbar .nav-link {
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.navbar .nav-link:hover {
  color: rgb(218, 218, 218);
}
.navbar .navbar-toggler {
  border-color: rgb(255, 255, 255);
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

main {
  z-index: -1;
}
main h2 {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(22, 22, 22);
}
@media screen and (min-width: 576px) {
  main h2 {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) {
  main h2 {
    font-size: 35px;
  }
}
@media screen and (min-width: 992px) {
  main h2 {
    font-size: 35px;
  }
}
@media screen and (min-width: 1200px) {
  main h2 {
    font-size: 38px;
  }
}
@media screen and (min-width: 1400px) {
  main h2 {
    font-size: 50px;
  }
}
main h2:before, main h2:after {
  flex: 1;
  height: 5px;
  content: "";
  background-color: #127FC3;
  border-radius: 20px;
}
main h2::before {
  margin-right: 10px;
}
main h2::after {
  margin-left: 10px;
}

.section_ciao {
  background-color: rgba(18, 127, 195, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 576px) {
  .section_ciao {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 768px) {
  .section_ciao {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 992px) {
  .section_ciao {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .section_ciao {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .section_ciao {
    padding-top: 80px;
    padding-bottom: 150px;
  }
}
.section_ciao .container {
  margin-bottom: 1px;
}
@media screen and (max-width: 768px) {
  .section_ciao .container {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section_ciao .container {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1400px) {
  .section_ciao .container {
    margin-bottom: 30px;
  }
}

.card-body {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .card-body {
    margin-bottom: 50px;
  }
}

.card-title_1 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (min-width: 576px) {
  .card-title_1 {
    font-size: 30px;
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media screen and (min-width: 768px) {
  .card-title_1 {
    font-size: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 992px) {
  .card-title_1 {
    font-size: 35px;
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .card-title_1 {
    font-size: 40px;
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media screen and (min-width: 1400px) {
  .card-title_1 {
    font-size: 55px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.card-title_1 span {
  color: #127FC3;
}

.card-text_1 {
  margin: auto;
  font-size: 20px;
  width: 250px;
  color: #127FC3;
  font-weight: 700;
  text-transform: uppercase;
  border-right: 4px solid;
  -webkit-animation: blink 2s step-end infinite, type 2.5s steps(20) forwards;
          animation: blink 2s step-end infinite, type 2.5s steps(20) forwards;
  overflow: hidden;
  white-space: nowrap;
}
.card-text_1 span {
  color: rgb(22, 22, 22);
}
@media screen and (min-width: 576px) {
  .card-text_1 {
    font-size: 20px;
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .card-text_1 {
    font-size: 20px;
    width: 250px;
  }
}
@media screen and (min-width: 992px) {
  .card-text_1 {
    font-size: 25px;
    width: 310px;
  }
}
@media screen and (min-width: 1200px) {
  .card-text_1 {
    font-size: 32px;
    width: 430px;
  }
}
@media screen and (min-width: 1400px) {
  .card-text_1 {
    font-size: 38px;
    width: 490px;
  }
}

.btn_header {
  border-color: #127FC3;
  background-color: #127FC3;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-top: 30px;
}
@media screen and (min-width: 576px) {
  .btn_header {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .btn_header {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  .btn_header {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .btn_header {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .btn_header {
    font-size: 20px;
  }
}
.btn_header:hover {
  border-color: #2ea4ed;
  background-color: #2ea4ed;
  transform: scale(1.1);
}

.social {
  display: none;
}
@media screen and (min-width: 992px) {
  .social {
    right: 0;
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: column;
    background-color: #127FC3;
    border: 1px solid;
    border-color: #127FC3;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    right: 0;
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: column;
    background-color: #127FC3;
    border: 1px solid;
    border-color: #127FC3;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1400px) {
  .social {
    right: 0;
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: column;
    background-color: #127FC3;
    border: 1px solid;
    border-color: #127FC3;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.social .icone_header {
  display: none;
}
@media screen and (min-width: 992px) {
  .social .icone_header {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .social .icone_header {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .social .icone_header {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 30px;
  }
}
.social .icone_header:hover {
  color: #2ea4ed;
}

@media screen and (max-width: 768px) {
  .img_header {
    margin-bottom: 10px;
  }
}
.img_header #foto_luca {
  width: 30%;
  border: 1px solid #127FC3;
  border-radius: 50%;
}
@media screen and (min-width: 576px) {
  .img_header #foto_luca {
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .img_header #foto_luca {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .img_header #foto_luca {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .img_header #foto_luca {
    width: 70%;
  }
}

.arrow {
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #2ea4ed;
  border-right: 2px solid #2ea4ed;
  transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}
.arrow span .box span:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes type {
  0% {
    width: 0;
  }
}
@keyframes type {
  0% {
    width: 0;
  }
}
.section_aboutme {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section_aboutme .aboutme_bio {
  color: rgb(90, 90, 90);
  padding-left: 0;
}
.section_aboutme .aboutme_bio p {
  font-size: 16px;
  text-align: justify;
}
@media screen and (min-width: 576px) {
  .section_aboutme .aboutme_bio p {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section_aboutme .aboutme_bio p {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .section_aboutme .aboutme_bio p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .section_aboutme .aboutme_bio p {
    font-size: 22x;
  }
}
.section_aboutme .aboutme_bio .btn_contatti {
  border-color: #127FC3;
  background-color: #127FC3;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-top: 30px;
}
@media screen and (min-width: 576px) {
  .section_aboutme .aboutme_bio .btn_contatti {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .section_aboutme .aboutme_bio .btn_contatti {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  .section_aboutme .aboutme_bio .btn_contatti {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .section_aboutme .aboutme_bio .btn_contatti {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .section_aboutme .aboutme_bio .btn_contatti {
    font-size: 20px;
  }
}
.section_aboutme .aboutme_bio .btn_contatti:hover {
  border-color: #2ea4ed;
  background-color: #2ea4ed;
  transform: scale(1.1);
}

.section_skills {
  background-color: rgba(18, 127, 195, 0.1);
  padding-top: 100px;
  padding-bottom: 100px;
}
.section_skills button {
  border-color: #127FC3;
  color: #127FC3;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (min-width: 576px) {
  .section_skills button {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section_skills button {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .section_skills button {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .section_skills button {
    font-size: 22px;
  }
}
.section_skills button:hover {
  background-color: #127FC3;
  color: white;
}

.section_esperienze {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section_esperienze .container_box_shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section_esperienze .accordion {
  --bs-accordion-color: white;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-active-color: white;
  --bs-accordion-border-width: 0.5px;
}
.section_esperienze .accordion-item {
  background-color: white;
}
.section_esperienze .accordion-header {
  background-color: #127FC3;
  border-color: transparent;
}
.section_esperienze .accordion-button {
  background-color: #127FC3;
  color: white;
  font-size: 15px;
}
@media screen and (min-width: 576px) {
  .section_esperienze .accordion-button {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section_esperienze .accordion-button {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .section_esperienze .accordion-button {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .section_esperienze .accordion-button {
    font-size: 22px;
  }
}
.section_esperienze .accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
  margin-right: 10px;
}
.section_esperienze .accordion-button::after {
  all: unset;
}
.section_esperienze .accordion-body {
  background-color: white;
  color: rgb(90, 90, 90);
  font-size: 15px;
  text-align: left;
}
@media screen and (min-width: 576px) {
  .section_esperienze .accordion-body {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section_esperienze .accordion-body {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .section_esperienze .accordion-body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .section_esperienze .accordion-body {
    font-size: 22px;
  }
}
.section_esperienze .accordion-body li {
  list-style: none;
}
.section_esperienze .accordion-body li::before {
  content: "˃";
  padding-right: 3px;
  color: #127FC3;
  font-weight: 700;
}

.section_progetti {
  background-color: rgba(18, 127, 195, 0.1);
  padding-top: 100px;
  padding-bottom: 100px;
}
.section_progetti .card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section_progetti .card-title_2 {
  font-weight: 700;
}
.section_progetti .card-text_2 {
  text-align: justify;
  color: rgb(90, 90, 90);
}
.section_progetti .badge {
  --bs-badge-color: #127FC3;
}
.section_progetti .btn_progetto {
  background-color: #127FC3;
  color: white;
  font-weight: 700;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.section_progetti .btn_progetto:hover {
  border-color: #2ea4ed;
  background-color: #2ea4ed;
}

.section_contatti {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section_contatti p {
  color: rgb(90, 90, 90);
  font-size: 16px;
  text-align: justify;
}
@media screen and (min-width: 576px) {
  .section_contatti p {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section_contatti p {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .section_contatti p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .section_contatti p {
    font-size: 23px;
  }
}
.section_contatti i {
  color: #127FC3;
  font-size: 25px;
  padding-top: 3px;
}
@media screen and (min-width: 576px) {
  .section_contatti i {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) {
  .section_contatti i {
    font-size: 25px;
  }
}
@media screen and (min-width: 992px) {
  .section_contatti i {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section_contatti i {
    font-size: 30px;
  }
}
.section_contatti a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(90, 90, 90);
  font-size: 16px;
}
@media screen and (min-width: 576px) {
  .section_contatti a {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section_contatti a {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .section_contatti a {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .section_contatti a {
    font-size: 25px;
  }
}

footer {
  background-color: rgb(22, 22, 22);
  color: white;
}
footer h5 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
footer .icone_footer {
  color: white;
  font-size: 30px;
}
footer .icone_footer:hover {
  color: #2ea4ed;
}
footer p {
  text-align: justify;
}
footer .heart {
  color: red;
}
footer a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */